# Core Framework
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers

# Deployment & Server
gunicorn
whitenoise
psycopg2-binary

# Email & Auth
django-anymail[sendgrid]
google-auth

# Firebase & Google Cloud
firebase-admin
google-cloud-firestore
google-cloud-storage

# Utilities
python-dotenv
requests
urllib3

# API Documentation
drf-spectacular
